.env
.git
.idea
.venv
**/__pycache__
**/*.py[cod]
*.sql
Dockerfile
.dockerignore
tests
requirements-dev.txt
pyproject.toml
.pytest_cache
.github
docs
README.md
.ruff_cache
.mypy_cache
docker-compose.yml
